@use '../../utils' as *;

/*----------------------------------------*/
/*  3.1 Header Style 3
/*----------------------------------------*/

.tp-header-3{
    &-area{
        &.header-sticky{
            &::after{
                backdrop-filter: initial;
            }
            box-shadow: none;
            background: none;
            & .tp-header-3-logo{
                display: none;
            }
            & .tp-header-3-right{
                display: none !important;
            }
        }
    }
    &-menu-box{
        display: inline-block;
        padding: 0px 15px;
        padding-right: 30px;
        @at-root{
            .menu-bg{
                position: absolute;
                top: 0;
                display: inline-block;
                backdrop-filter: blur(8px);
                background: rgba(46, 46, 46, 0.9); 
                border-radius: 100px;
                z-index: -1;
            }
        }
    }
    &-bar{
        height: 40px;
        width: 40px;
        line-height: 40px;
        font-size: 18px;
        text-align: center;
        display: inline-block;
        color: var(--tp-common-black);
        border: 1px solid var(--tp-common-black);
        transition: .3s;
        margin-left: 15px;
        border-radius: 50%;
        &:hover{
            background-color: var(--tp-common-black);
            color: var(--tp-common-white);
        }
    }
    &-menu{
        & > nav{
            & > ul{
                & > li{
                    list-style: none;
                    display: inline-block;
                    margin: 0px 15px;
                    & > a{
                        font-size: 17px;
                        font-weight: 500;
                        padding: 12px 0;
                        transition: .3s;
                        display: inline-block;
                        /* REMOVED: color: var(--tp-common-white); */
                        /* ADDED: Allow our component styles to control color */
                        color: inherit !important;
                        & span{
                            margin-left: 5px;
                        }
                    }
                    &:hover{
                        & > a {
                            /* CHANGED: Remove white color on hover */
                            color: #b5d334 !important; /* Green color on hover */
                        }
                    }
                }
            }
        }
    }
    &-cart{
        & button{
            & span{
                margin-left: 7px;
                display: inline-block;
            }
            & em{
                position: absolute;
                right: -12px;
                top: -1px;
                color: var(--tp-common-black);
                font-size: 18px;
                font-weight: 400;
                height: 18px;
                width: 18px;
                line-height: 16px;
                border-radius: 50%;
                text-align: center;
                background-color: var(--tp-common-white);
                font-style: normal;
            }
        }
    }
    &-social{
        & a{
            height: 40px;
            width: 40px;
            line-height: 40px;
            border-radius: 50%;
            font-size: 16px;
            text-align: center;
            display: inline-block;
            background-color: var(--tp-grey-2);
            color: var(--tp-common-black);
            margin-left: 7px;
            transition: .3s;
            &:hover{
                background-color: var(--tp-common-black);
                color: var(--tp-common-white);
            }
        }
    }
}

/* Add green theme styles for header */
.green-theme-header {
    .menu-bg {
        background: linear-gradient(90deg, rgba(181, 211, 52, 0.1) 0%, rgba(181, 211, 52, 0.05) 100%) !important;
    }
    
    &.header-sticky .menu-bg {
        background: linear-gradient(90deg, rgba(181, 211, 52, 0.15) 0%, rgba(181, 211, 52, 0.08) 100%) !important;
    }
    
    .tp-header-3-menu > nav > ul > li {
        & > a {
            color: #b5d334 !important;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            
            &:hover {
                color: #9cbb2d !important;
            }
        }
        
        &.active > a,
        &.current-menu-item > a {
            color: #000 !important;
            font-weight: 700;
        }
    }
    
    .tp-header-3-social a {
        color: #b5d334 !important;
        background-color: rgba(181, 211, 52, 0.1) !important;
        
        &:hover {
            background-color: #b5d334 !important;
            color: #000 !important;
        }
    }
    
    .tp-header-3-cart button {
        background-color: #b5d334 !important;
        border-color: #b5d334 !important;
        color: #000 !important;
        
        &:hover {
            background-color: #9cbb2d !important;
            border-color: #9cbb2d !important;
        }
        
        & em {
            background-color: #000 !important;
            color: #fff !important;
        }
    }
    
    .tp-header-3-bar {
        background-color: #b5d334 !important;
        border-color: #b5d334 !important;
        color: #000 !important;
        
        &:hover {
            background-color: #000 !important;
            color: #b5d334 !important;
        }
    }
}